// Primitives

{% include 'partials/classes/fields/primitives.js.jinja2' %}


// String

{% include 'partials/classes/fields/string.js.jinja2' %}


// Classes

{% include 'partials/classes/fields/classes.js.jinja2' %}