{{# parameters }}
{{# type.is_function_signature }}
static
{{# delegate.return_type }}
        {{> Type }}
{{/ delegate.return_type }}
{{^ delegate.return_type }}
        void
{{/ delegate.return_type }}
        {{ delegate.name }}Function(
            IntPtr _StateObject__,
{{# delegate.parameters }}
{{# type.is_pointer_or_reference }}
            NativePointer
{{/ type.is_pointer_or_reference }}
{{^ type.is_pointer_or_reference }}
            {{# type }}{{> Type }}{{/ type }}
{{/ type.is_pointer_or_reference }}
            {{ name }}{{> Comma }}
{{/ delegate.parameters }}
        ) {
            var _handle = (GCHandle)_StateObject__;
            var _{{ name }} = ({{ delegate.name }})_handle.Target;

{{# delegate.parameters }}
            var _{{ name }} =
{{# type.is_class_or_interface }}
                new {{# type }}{{> Type }}{{/ type }}({{ name }})
{{/ type.is_class_or_interface }}
{{^ type.is_class_or_interface }}
                {{ name }}
{{/ type.is_class_or_interface }}
            ;
{{/ delegate.parameters }}

            _{{ name }}(
{{# delegate.parameters }}
                _{{ name }}{{> Comma }}
{{/ delegate.parameters }}
            );

            // TODO: Queue persistent callback handles to be freed on exit
            // _handle.Free();
        }
{{/ type.is_function_signature }}
{{/ parameters }}

public
{{# is_static }}
static
{{/ is_static }}
{{# is_virtual }}
{{^ is_override }}
virtual
{{/ is_override }}
{{/ is_virtual }}
{{# is_override }}
{{^ is_interface_implementation }}
override
{{/ is_interface_implementation }}
{{/ is_override }}
{{# return_type }}
{{# is_pointer_or_reference }}
{{# is_primitive }}
{{# is_const }}
    {{> Type }}
{{/ is_const }}
{{^ is_const }}
    Ref<{{> Type }}>
{{/ is_const }}
{{/ is_primitive }}
{{^ is_primitive }}
    {{> Type }}
{{/ is_primitive }}
{{/ is_pointer_or_reference }}
{{^ is_pointer_or_reference }}
    {{> Type }}
{{/ is_pointer_or_reference }}
{{/ return_type }}
{{^ return_type }}
    void
{{/ return_type }}
    {{ name }}(
{{# parameters }}
{{# is_out }}
        out
{{/ is_out }}
{{# type.is_function_signature }}
        {{ delegate.name }}
{{/ type.is_function_signature }}
{{^ type.is_function_signature }}
        {{# type }}{{> Type }}{{/ type }}
{{/ type.is_function_signature }}
        {{ name }}{{> Comma }}
{{/ parameters }})
{
{{# parameters }}
{{# type.is_function_signature }}
    var _{{ name }} = GCHandle.Alloc({{ name }});
{{/ type.is_function_signature }}
{{/ parameters }}
{{# return_type }}
    var _value = 
{{/ return_type }}
        {{ unique_name }}( {{! Call the function, appending all the necessary parameters}}
{{^ is_static }}
            _ptr {{# has_parameters }},{{/ has_parameters }}
{{/ is_static }}
{{# parameters }}
{{# is_out }}
            out {{ name }}{{> Comma }}
{{/ is_out }}
{{^ is_out }}
{{# type.is_string }}
            WrapperHelper.StringToNativeUTF8({{ name }}){{> Comma }}
{{/ type.is_string }}
{{^ type.is_string }}
{{# type.is_class_or_interface }}
{{# type.is_interface }}
            ((NativeClassWrapper){{ name }})._ptr{{> Comma }}
{{/ type.is_interface }}
{{^ type.is_interface }}
            {{ name }}._ptr{{> Comma }}
{{/ type.is_interface }}
{{/ type.is_class_or_interface }}
{{^ type.is_class_or_interface }}
{{# type.is_pointer_or_reference }}
            {{ name }}._ptr{{> Comma }}
{{/ type.is_pointer_or_reference }}
{{^ type.is_pointer_or_reference }}
{{# type.is_function_signature }}
            {{ delegate.name }}Function,
            (IntPtr)_{{ name }}{{> Comma }}
{{/ type.is_function_signature }}
{{^ type.is_function_signature }}
            {{ name }}{{> Comma }}
{{/ type.is_function_signature }}
{{/ type.is_pointer_or_reference }}
{{/ type.is_class_or_interface }}
{{/ type.is_string }}
{{/ is_out }}
{{/ parameters }}
        );

{{! If there is a return type, wrap it if necessary }}
{{# return_type }}
{{# is_pointer_or_reference }}
{{# is_primitive }}
{{# is_const }}
    var _result = _value;
{{/ is_const}}
{{^ is_const }}
    var _result = new Ref<{{> Type }}>(_value);
{{/ is_const }}
{{/ is_primitive }}
{{^ is_primitive }}
{{# is_reference }}
    WrapperHelper.CheckNativePointer(_value);
{{/ is_reference}}
{{^ is_reference}}
    if (_value.Equals(NativePointer.Zero))
        return null;
{{/ is_reference}}
    var _result = new {{> Type }}(_value);
{{/ is_primitive }}
{{/ is_pointer_or_reference }}
{{^ is_pointer_or_reference }}
{{# is_class_or_interface }}
    WrapperHelper.CheckNativePointer(_value);

    var _result = new {{> Type }}(_value)
{{/ is_class_or_interface }}
{{^ is_class_or_interface }}
    var _result = _value
{{/ is_class_or_interface }}
{{/ is_pointer_or_reference }}
{{# is_void_pointer }}
        .Pointer
{{/ is_void_pointer }}
;
    
{{# is_string }}
    {{! Convert native string to C# string }}
    var _resultString = WrapperHelper.NativeUTF8ToString(_result);
    {{! Free native string as it is a copy }}
    Global.Free(_result);

    return _resultString;
{{/ is_string }}
{{^ is_string }}
    return _result;
{{/ is_string }}
{{/ return_type }}
}
