{{^ is_private }}
{{ extra_data.c_export_macro }} NativePointer
{{ unique_name }}({{# parameters }}{{> Parameter }}{{^ is_last }}, {{/ is_last }}{{/ parameters }})
{
    return NativePointer {
        {{# parent_class.is_template_instance }}
        CSP_NEW {{# namespace }}{{ namespace }}::{{/ namespace }}{{ parent_class.template_name }}<{{# parent_class.template_arguments }}{{# namespace }}{{ namespace }}::{{/ namespace }}{{ name }}{{^ is_last }}, {{/ is_last }}{{/ parent_class.template_arguments }}>(
        {{/ parent_class.is_template_instance }}
        {{^ parent_class.is_template_instance }}
        CSP_NEW {{# namespace }}{{ namespace }}::{{/ namespace }}{{ parent_class.name }}(
        {{/ parent_class.is_template_instance }}
            {{# parameters }}
            {{# type.is_string }}csp::common::String({{/ type.is_string }}{{^ type.is_string }}{{# type.is_reference }}*{{/ type.is_reference }}{{/ type.is_string }}{{ name }}{{# type.is_string }}){{/ type.is_string }}{{^ is_last }}, {{/ is_last }}
            {{/ parameters }}
        ),
        true
    };
}
{{/ is_private }}
