
[submodule "modules/premake"]
	path = modules/premake
	url = https://github.com/premake/premake-core
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest
[submodule "modules/mimalloc"]
	path = modules/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "modules/poco"]
	path = modules/poco
	url = https://github.com/pocoproject/poco
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "modules/signalr"]
	path = modules/signalr
	url = https://github.com/SignalR/SignalR
[submodule "modules/tinyspline"]
	path = modules/tinyspline
	url = https://github.com/msteinbeck/tinyspline
[submodule "modules/csp-services"]
	path = modules/csp-services
	url = https://github.com/magnopus-opensource/csp-services.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
