// Primitives

{% include 'partials/classes/functions/parameter_types/primitives.js.jinja2' %}


// String

{% include 'partials/classes/functions/parameter_types/string.js.jinja2' %}


// Classes

{% include 'partials/classes/functions/parameter_types/classes.js.jinja2' %}