{% for x in ['Value', 'ConstReference'] %}
    // Pass string by {{ x }}
    test('classFunctions_String_Pass{{ x }}', async function() {
        const instance = dummy.StringParameterTestClass.create();

        try {
            instance.classFunctions_String_Pass{{ x }}("{{ config.string_value }}");
        }
        catch (e) {
            assert.fail(e.message)
        }
    });
{% endfor %}