// Primitives

{% include 'partials/functions/parameter_types/primitives.cs.jinja2' %}


// String

{% include 'partials/functions/parameter_types/string.cs.jinja2' %}


// Classes

{% include 'partials/functions/parameter_types/classes.cs.jinja2' %}