{% for x in ['Value', 'ConstReference'] %}
    // Pass string by {{ x }}
    [Test]
    public static void GlobalFunctions_String_Pass{{ x }}() {
        try {
            Global.GlobalFunctions_String_Pass{{ x }}("{{ config.string_value }}");
        }
        catch (RuntimeWrappedException e) {
            Assert.Fail(e.Message);
        }
    }
{% endfor %}