#pragma once


{{> Header }}


#pragma region Generated Includes

{{# includes }}
{{> Include }}
{{/ includes }}

#pragma endregion Generated Includes

#include "EmscriptenBindings/CallbackQueue.h"

// Generic callback function which will either call the callback directly, or, 
// if we're on wasm, push to the main thread if we're not on the main thread.
template <typename ...T>
static void CallCallback(void (*Callback)(T...), T... Args)
{
#ifdef CSP_WASM
    csp::Emscripten_CallbackOnThread(Callback, Args...);
#else
    Callback(Args...);
#endif
}

extern "C"
{
    typedef struct {
        const void* Pointer;
        bool OwnsOwnData;
    } NativePointer;

    #pragma region Global Functions

{{# functions }}
    {{> GlobalFunction }}

{{/ functions }}
    #pragma endregion Global Functions


    #pragma region Classes

{{# classes }}
    {{> Class }}

{{/ classes }}
    #pragma endregion Classes


    #pragma region Templates

{{# templates }}
    {{> Template }}

{{/ templates }}
    #pragma endregion Templates
}