/// Constructors

{% include 'partials/classes/constructors.cpp.jinja2' %}


/// Fields

{% include 'partials/classes/fields/fields.cpp.jinja2' %}


/// Functions

{% include 'partials/classes/functions/functions.cpp.jinja2' %}