/// Constructors

{% include 'partials/classes/constructors.h.jinja2' %}


/// Destructors

{% include 'partials/classes/destructors.h.jinja2' %}


/// Fields

{% include 'partials/classes/fields/fields.h.jinja2' %}


/// Functions

{% include 'partials/classes/functions/functions.h.jinja2' %}