{{# return_type }}{{ name }}{{/ return_type }}{{^ return_type }}void{{/ return_type }}(*{{ name }})(void* _StateObject__{{# has_parameters }}, {{/ has_parameters }}{{# parameters }}{{# type }}{{# is_string }}const char*{{/ is_string}}{{^ is_string }}{{# is_const }}const {{/ is_const }}{{# is_pointer_or_reference }}NativePointer{{/ is_pointer_or_reference }}{{^ is_pointer_or_reference }}{{> Type }}{{# is_template }}<{{# template_arguments }}{{# type }}{{> Type }}{{# is_pointer }}*{{/ is_pointer }}{{/ type }}{{> Comma }}{{/ template_arguments }}>{{/ is_template }}{{/ is_pointer_or_reference }}{{/ is_string }}{{/ type }} {{ name }}{{> Comma }}{{/ parameters }})