{{# type }}
  {{# is_string }}
    const char*
  {{/ is_string }}
  
  {{^ is_string }}
    {{> Type }}
    
    {{# is_class_or_interface }}
      *
    {{/ is_class_or_interface }}

    {{^ is_class_or_interface }}
      {{# is_pointer_or_reference }}
        *
      {{/ is_pointer_or_reference }}
    {{/ is_class_or_interface }}
  {{/ is_string }}
{{/ type }}

{{ name }}