public {{ definition.name }}({{# parameters }}{{# type }}{{> Type }}{{/ type }} {{ name }}{{> Comma }}{{/ parameters }}) : base(
    {{ unique_name }}(
    {{# parameters }}
        {{ name }}{{# type.is_pointer_or_reference }}._ptr{{/ type.is_pointer_or_reference }}{{> Comma }}
    {{/ parameters }}
    ))
{
}
    