{{^ is_private }}
~{{ definition.name }}()
{
    //RealDispose();
}

void RealDispose() {
    if (_ownsPtr && !_disposed)
    {
        {{ unique_name }}(_ptr);
        _disposed = true;
    }

    _disposed = true;
}

public void Dispose() {
    RealDispose();
    GC.SuppressFinalize(this);
}
{{/ is_private }}
