{{# translated_namespace }}
export namespace {{ translated_namespace }} {
{{/ translated_namespace }}

{{# is_nested_type }}
{{# surrounding_types }}
export namespace {{ . }} {
{{/ surrounding_types }}
{{/ is_nested_type }}

{{# doc_comments }}
{{& . }}
{{/ doc_comments }}
export enum {{ name }} {
{{# fields }}
{{# doc_comments }}
    {{& . }}
{{/ doc_comments }}
    {{ name }}{{# value }} = {{ value }}{{/ value }},
{{/ fields }}
}

{{# is_nested_type }}
{{# surrounding_types }}
}
{{/ surrounding_types }}
{{/ is_nested_type }}

{{# translated_namespace }}
}
{{/ translated_namespace }}
