{{# translated_namespace }}
export namespace {{ translated_namespace }} {
{{/ translated_namespace }}

export interface {{ name }}
{{# has_interfaces }}
    extends
{{# interfaces }}
    {{# type }}{{> TypeName }}{{/ type }}{{> Comma }}
{{/ interfaces }}
{{/ has_interfaces }}
{
{{# methods }}
{{^ is_constructor }}
{{^ is_destructor }}
    {{> Interface/Method }}
{{/ is_destructor }}
{{/ is_constructor }}

{{/ methods }}
}

{{# translated_namespace }}
}
{{/ translated_namespace }}