{{^ is_private }}
{{# doc_comments }}
{{& . }}
{{/ doc_comments }}
{{# is_deprecated }}
/** @deprecated
    {{# deprecation_message }}
        {{& deprecation_message }}
    {{/ deprecation_message }}
*/
{{/ is_deprecated }}
{{# is_constructor }}
{{> Method/Constructor }}
{{/ is_constructor }}
{{# is_destructor }}
{{# should_dispose }}
{{> Method/Destructor }}
{{/ should_dispose }}
{{/ is_destructor }}
{{^ is_constructor }}
{{^ is_destructor }}
{{# is_operator_overload }}
// {{ name }}
{{/ is_operator_overload }}
{{^ is_operator_overload }}
{{# is_task }}
{{> Method/TaskMethod }}
{{/ is_task }}
{{^ is_task }}
{{# is_event }}
{{> Method/EventMethod }}
{{/ is_event }}
{{^ is_event }}
{{> Method/ClassMethod }}
{{/ is_event }}
{{/ is_task }}
{{/ is_operator_overload }}
{{/ is_destructor }}
{{/ is_constructor }}
{{/ is_private }}
