[Test]
public static void Check_ClassFieldTestClass_Field() {
    using var instance = new ClassFieldTestClass();
    instance.Field.ACoolInteger = {{ config.class_int_value_first }};

    try {
        Global.Check_ClassFieldTestClass_Field(instance);
    }
    catch (RuntimeWrappedException e) {
        Assert.Fail(e.Message);
    }
}

[Test]
public static void Set_ClassFieldTestClass_Field() {
    using var instance = new ClassFieldTestClass();
    Global.Set_ClassFieldTestClass_Field(instance);

    Assert.AreEqual({{ config.class_int_value_second }}, instance.Field.ACoolInteger);
}