// Primitives

{% include 'partials/classes/fields/primitives.cs.jinja2' %}


// String

{% include 'partials/classes/fields/string.cs.jinja2' %}


// Classes

{% include 'partials/classes/fields/classes.cs.jinja2' %}