[Test]
public static void Check_PrimitiveFieldTestClass_Fields() {
    using var instance = new PrimitiveFieldTestClass {
        {% for p in config.primitives %}
            Field{{ loop.index0 }} = {{ p.min }}{{ ',' if not loop.last }}
        {% endfor %}
    };

    try {
        Global.Check_PrimitiveFieldTestClass_Fields(instance);
    }
    catch (RuntimeWrappedException e) {
        Assert.Fail(e.Message);
    }
}

[Test]
public static void Set_PrimitiveFieldTestClass_Fields() {
    using var instance = new PrimitiveFieldTestClass();
    Global.Set_PrimitiveFieldTestClass_Fields(instance);

    {% for p in config.primitives %}
        {% set field_name %}
            instance.Field{{ loop.index0 }}
        {% endset %}

        {{ assert_are_equal(p.use_epsilon, field_name, p.max) }}
    {% endfor %}
}