class CSP_API StringParameterTestClass {
public:
    // Pass string by value
    void ClassFunctions_String_PassValue(csp::common::String Value);

    // Pass string by const reference
    void ClassFunctions_String_PassConstReference(const csp::common::String& Value);
};