// Pass class by value
CSP_API void GlobalFunctions_MyClass_PassValue(csp::MyClass Value);

// Pass class by pointer
CSP_API void GlobalFunctions_MyClass_PassPointer(csp::MyClass* Value);

// Pass class by const pointer
CSP_API void GlobalFunctions_MyClass_PassConstPointer(const csp::MyClass* Value);

// Pass class by reference
CSP_API void GlobalFunctions_MyClass_PassReference(csp::MyClass& Value);

// Pass class by const reference
CSP_API void GlobalFunctions_MyClass_PassConstReference(const csp::MyClass& Value);