// Primitives

{% include 'partials/functions/parameter_types/primitives.cpp.jinja2' %}


// String

{% include 'partials/functions/parameter_types/string.cpp.jinja2' %}


// Classes

{% include 'partials/functions/parameter_types/classes.cpp.jinja2' %}