// Pass string by value
CSP_API void GlobalFunctions_String_PassValue(csp::common::String Value);

// Pass string by const reference
CSP_API void GlobalFunctions_String_PassConstReference(const csp::common::String& Value);