/// Constructors

{% include 'partials/classes/constructors.js.jinja2' %}


/// Destructors

{% include 'partials/classes/destructors.js.jinja2' %}


/// Fields

{% include 'partials/classes/fields/fields.js.jinja2' %}


/// Functions

{% include 'partials/classes/functions/functions.js.jinja2' %}