{% from 'helpers.jinja2' import assert_are_equal %}

import { test, assert } from './test_framework.js';
import * as dummy from '@magnopus-opensource/connected-spaces-platform.dummy';


/********************************/
/*       Global functions       */
/********************************/

{% include 'partials/functions/functions.js.jinja2' %}


/********************************/
/*           Classes            */
/********************************/

{% include 'partials/classes/classes.js.jinja2' %}