{% from 'helpers.jinja2' import assert_are_equal %}

using System;
using System.Collections.Generic;
using System.Linq;
using System.Reflection;
using System.Runtime.CompilerServices;
using System.Threading.Tasks;

using NUnit.Framework;
using UnityEngine;


namespace Csp.Tests {    
    static class UnitTests {
        /********************************/
        /*       Global functions       */
        /********************************/

        {% include 'partials/functions/functions.cs.jinja2' %}


        /********************************/
        /*           Classes            */
        /********************************/

        {% include 'partials/classes/classes.cs.jinja2' %}
    }
}