{{ name }}(
    callback:
        (
{{# parameters.0.type.function_signature }}
{{# parameters }}
            {{ name }}: {{# type }}{{> TypeName }}{{/ type }}{{> Comma }}
{{/ parameters }}
        ) => void
{{/ parameters.0.type.function_signature }}
) {
{{# parameters.0.type.function_signature }}
    var _callback = (
        _stateObject__: number,
{{# parameters }}
        {{ name }}: {{# type }}
{{# is_class_or_interface }}number{{/ is_class_or_interface }}
{{# is_string }}number{{/ is_string }}
{{# is_enum }}number{{/ is_enum }}
{{# is_number }}{{# is_large }}bigint{{/ is_large }}{{^ is_large }}number{{/ is_large }}{{/ is_number }}
{{^ is_class_or_interface }}{{^ is_string }}{{^ is_enum }}{{^ is_number }}number{{/ is_number }}{{/ is_enum }}{{/ is_string }}{{/ is_class_or_interface }}
{{/ type }}{{> Comma }}
{{/ parameters }}
    ) => {
{{# parameters }}
{{# type.is_class_or_interface }}
        var _{{ name }} = new {{# type }}{{> TypeName }}{{/ type }}(
            getNativePointer(
                {{ name }}
            )
{{# type.template_arguments }}
            ,
            {{> Template/ConstructorArguments }}
{{/ type.template_arguments }}
        );
{{/ type.is_class_or_interface }}
{{# type.is_string }}
        const _{{ name }} = Module.UTF8ToString({{ name }});
        free({{ name }});
{{/ type.is_string }}
{{# type.is_number }}
{{^ type.is_float }}
{{^ type.is_signed }}
        {
            const _unfixedValue = {{ name }};
            {{# type }}{{> UnsignedFix }}{{/ type }}

            {{ name }} = _fixedValue;
        }
{{/ type.is_signed }}
{{/ type.is_float }}
{{/ type.is_number }}
{{# type.is_bool }}
        const _{{ name }} = !!{{ name }};
{{/ type.is_bool }}
{{/ parameters }}

        callback(
{{# parameters }}
        {{# type.is_class_or_interface }}_{{/ type.is_class_or_interface }}{{# type.is_string }}_{{/ type.is_string }}{{# type.is_bool }}_{{/ type.is_bool }}{{ name }}{{> Comma }}
{{/ parameters }}
        );
    };

    var _callbackPtr = Module.addFunction(
        _callback,
        "vi{{# parameters }}{{# type }}{{> Method/TypeShorthand }}{{/ type }}{{/ parameters }}"
    );
{{/ parameters.0.type.function_signature }}

    Module.ccall(
        "{{ unique_name }}",
        "void",
        ["number", "number", "number"],
        [this.pointer, _callbackPtr, 0]
    );
}
