{{# is_enum }}i{{/ is_enum }}{{# is_number }}{{^ is_float }}{{# is_large }}j{{/ is_large }}{{^ is_large }}i{{/ is_large }}{{/ is_float }}{{# is_float }}{{# is_large }}d{{/ is_large }}{{^ is_large }}f{{/ is_large }}{{/ is_float }}{{/ is_number }}{{# is_class_or_interface }}i{{/ is_class_or_interface }}{{^ is_enum }}{{^ is_number }}{{^ is_class_or_interface }}{{! Must be a boolean }}i{{/ is_class_or_interface }}{{/ is_number }}{{/ is_enum }}