{{# is_enum }}i{{/ is_enum }}{{# is_number }}{{^ is_float }}{{# is_large }}j{{/ is_large }}{{^ is_large }}i{{/ is_large }}{{/ is_float }}{{# is_float }}{{# is_large }}d{{/ is_large }}{{^ is_large }}f{{/ is_large }}{{/ is_float }}{{/ is_number }}{{# is_string }}i{{/ is_string }}{{# is_class_or_interface }}i{{/ is_class_or_interface }}{{# is_struct }}i{{/ is_struct }}{{^ is_enum }}{{^ is_number }}{{^ is_string }}{{^ is_class_or_interface }}{{^ is_struct }}{{! Must be a boolean }}i{{/ is_struct }}{{/ is_class_or_interface }}{{/ is_string }}{{/ is_number }}{{/ is_enum }}
