// Primitives
    
{% include 'partials/functions/return_types/primitives.cs.jinja2' %}


// String

{% include 'partials/functions/return_types/string.cs.jinja2' %}


// Classes

{% include 'partials/functions/return_types/classes.cs.jinja2' %}