{{> DocComments }}
{{# is_deprecated }}
[Obsolete(
    {{# deprecation_message }}
        "{{& deprecation_message }}"
    {{/ deprecation_message }}
)]
{{/ is_deprecated }}
{{# is_operator_overload }}
{{> Class/Method/Operator }}
{{/ is_operator_overload }}
{{^ is_operator_overload }}
{{# is_constructor }}
{{# is_private }}
{{^ has_parameters }}
{{> Class/Method/Constructor }}
{{/ has_parameters }}
{{/ is_private }}
{{^ is_private }}
{{> Class/Method/Constructor }}
{{/ is_private }}
{{/ is_constructor }}
{{# is_destructor }}
{{> Class/Method/Destructor }}
{{/ is_destructor }}
{{^ is_constructor }}
{{^ is_destructor }}
{{> Class/Method/Method }}
{{/ is_destructor }}
{{/ is_constructor }}
{{/ is_operator_overload }}
