// Primitives

{% include 'partials/classes/fields/primitives.cpp.jinja2' %}


// String

{% include 'partials/classes/fields/string.cpp.jinja2' %}


// Classes

{% include 'partials/classes/fields/classes.cpp.jinja2' %}