// Primitives

{% include 'partials/classes/fields/primitives.h.jinja2' %}


// String

{% include 'partials/classes/fields/string.h.jinja2' %}


// Classes

{% include 'partials/classes/fields/classes.h.jinja2' %}