class CSP_API StringFieldTestClass {
public:
    csp::common::String Field;
};

// Pass class and check string field values
CSP_API void Check_StringFieldTestClass_Field(const StringFieldTestClass& Instance);

// Pass class and set string field values
CSP_API void Set_StringFieldTestClass_Field(StringFieldTestClass& Instance);