[DllImport(
#if !UNITY_EDITOR && UNITY_IOS || UNITY_VISIONOS)
    "__Internal"
#elif DEBUG && !UNITY_EDITOR_OSX && !UNITY_STANDALONE_OSX
    "ConnectedSpacesPlatform_D"
#else
    "ConnectedSpacesPlatform"
#endif
), SuppressUnmanagedCodeSecurity]
