{{> Header }}

{{> Usings }}

{{# data }}
{{> StartType }}

    {{> DocComments }}
    public interface {{ name }}
{{# has_interfaces }}
        :
{{# interfaces }}
        {{# type }}{{> Type }}{{/ type }}{{> Comma }}
{{/ interfaces }}
{{/ has_interfaces }}
    {
{{# methods }}
        {{> Interface/Method }}

{{/ methods }}
    }

{{> EndType }}
{{/ data }}