{{> Header }}

{{> Usings }}

{{# data }}
{{> StartType }}

    {{> DocComments }}
    public interface {{ name }}
    {
{{# methods }}
        {{> Interface/Method }}

{{/ methods }}
    }

{{> EndType }}
{{/ data }}