{
    "name": "{{ name }}",
    "displayName": "{{ display_name }}",
    "unity": "{{ unity_version }}",
    "version": "{{ version }}",
    "description": "{{ description }}",
    "license": "{{ license }}",
    "dependencies": {},
    "publishConfig": {
        "registry": "{{ registry }}"
    },
    "repository": "{{ repository }}"
}
