fileFormatVersion: 2
guid: {{ guid }}
PluginImporter:
  externalObjects: {}
  serializedVersion: 2
  iconMap: {}
  executionOrder: {}
  defineConstraints: []
  isPreloaded: 0
  isOverridable: 0
  isExplicitlyReferenced: 0
  platformData:
  - first:
      : Any
    second:
      enabled: 0
      settings:
        Exclude Android: {{ '0' if platform == 'android' or platform == 'android64' else '1' }}
        Exclude Editor: {{ '0' if platform == 'windows' or platform == 'macosx' else '1' }}
        Exclude Linux64: 1
        Exclude OSXUniversal: {{ '0' if platform == 'macosx' else '1' }}
        Exclude Win: 1
        Exclude Win64: {{ '0' if platform == 'windows' else '1' }}
        Exclude iOS: {{ '0' if platform == 'ios' else '1' }}
        Exclude VisionOS: {{ '0' if platform == 'visionos' else '1' }}
  - first:
      Any: 
    second:
      enabled: 0
      settings: {}
  - first:
      Editor: Editor
    second:
    {%- if platform == 'windows' %}
      enabled: 1
      settings:
        CPU: x86_64
        DefaultValueInitialized: true
        OS: Windows
    {%- elif platform == 'macosx' %}
      enabled: 1
      settings:
        CPU: AnyCPU
        DefaultValueInitialized: true
        OS: OSX
    {%- else %}
      enabled: 0
      settings:
        CPU: None
        DefaultValueInitialized: false
        OS: None
    {%- endif %}
  - first:
      Standalone: Linux64
    second:
      enabled: 0
      settings:
        CPU: None
  - first:
      Standalone: OSXUniversal
    second:
    {%- if platform == 'macosx' %}
      enabled: 1
      settings:
        CPU: x86_64
    {%- else %}
      enabled: 0
      settings:
        CPU: None
    {%- endif %}
  - first:
      Standalone: Win
    second:
      enabled: 0
      settings:
        CPU: None
  - first:
      Standalone: Win64
    second:
    {%- if platform == 'windows' %}
      enabled: 1
      settings:
        CPU: x86_64
    {%- else %}
      enabled: 0
      settings:
        CPU: None
    {%- endif %}
  - first:
      Android: Android
    second:
    {%- if platform == 'android'%}
      enabled: 1
      settings:
        CPU: ARMv7
    {%- elif platform == 'android64'%}
      enabled: 1
      settings:
        CPU: ARM64
    {%- else %}
      enabled: 0
      settings:
        CPU: None
    {%- endif %}
  - first:
      iPhone: iOS
    second:
    {%- if platform == 'ios' %}
      enabled: 1
      settings:
        AddToEmbeddedBinaries: false
        CPU: ARM64
        CompileFlags: 
        FrameworkDependencies: 
    {%- else %}
      enabled: 0
      settings:
        AddToEmbeddedBinaries: false
        CPU: None
        CompileFlags: 
        FrameworkDependencies: 
    {%- endif %}
  - first:
      VisionOS: VisionOS
    second:
    {%- if platform == 'visionos' %}
      enabled: 1
      settings:
        AddToEmbeddedBinaries: false
        CPU: ARM64
        CompileFlags: 
        FrameworkDependencies: 
    {%- else %}
      enabled: 0
      settings:
        AddToEmbeddedBinaries: false
        CPU: None
        CompileFlags: 
        FrameworkDependencies: 
    {%- endif %}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
