#pragma once

#include "CSP/CSPCommon.h"
#include "CSP/Common/String.h"

#include <cstdint>
#include <functional>
#include <thread>


namespace csp {
    // Helper function to free allocated memory from wrappers
    CSP_API void Free(void* Pointer);


    /********************************/
    /*       Global functions       */
    /********************************/

    {% include 'partials/functions/functions.h.jinja2' %}


    /********************************/
    /*           Classes            */
    /********************************/

    {% include 'partials/classes/classes.h.jinja2' %}
}