/// Constructors

{% include 'partials/classes/constructors.cs.jinja2' %}


/// Destructors

{% include 'partials/classes/destructors.cs.jinja2' %}


/// Fields

{% include 'partials/classes/fields/fields.cs.jinja2' %}


/// Functions

{% include 'partials/classes/functions/functions.cs.jinja2' %}