// Primitives

{% include 'partials/functions/return_types/primitives.h.jinja2' %}


// String

{% include 'partials/functions/return_types/string.h.jinja2' %}


// Classes

{% include 'partials/functions/return_types/classes.h.jinja2' %}