// Return string by value
CSP_API csp::common::String GlobalFunctions_String_ReturnValue();

// Return string by const reference
CSP_API const csp::common::String& GlobalFunctions_String_ReturnConstReference();