// Return types

{% include 'partials/classes/functions/return_types/return_types.h.jinja2' %}


// Parameter types

{% include 'partials/classes/functions/parameter_types/parameter_types.h.jinja2' %}


// CSP_ASYNC_RESULT

{% include 'partials/classes/functions/async_result/async_result.h.jinja2' %}


// CSP_EVENT

{% include 'partials/classes/functions/event/event.h.jinja2' %}