name: 'Check Staging Head_Ref'

on:
  pull_request:

jobs:
  check_branch:
    if: github.repository == 'magnopus-opensource/connected-spaces-platform'
    runs-on: ubuntu-latest
    steps:
      - name: Check staging head_ref
        if: contains(github.base_ref, 'staging/') && github.head_ref == 'develop'
        run: |
          echo "ERROR: You can only create a `staging/*` branch from branches matching `develop`."
          exit 1
