fileFormatVersion: 2
guid: 1678634e69642a55e208df4d4d895a52
AssemblyDefinitionImporter:
  externalObjects: {}
  userData: {{user_data_footer}}
  assetBundleName: {{asset_bundle_name_footer}}
  assetBundleVariant: {{asset_bundle_varient_footer}}