fileFormatVersion: 2
guid: {{asset_guid}}
DefaultImporter:
  externalObjects: {}
  userData: {{user_data_footer}}
  assetBundleName: {{asset_bundle_name_footer}}
  assetBundleVariant: {{asset_bundle_varient_footer}}