fileFormatVersion: 2
guid: {{asset_guid}}
{{importer_specified}}:
  externalObjects: {}
  serializedVersion: 2
  iconMap: {}
  executionOrder: {}
  defineConstraints: []
  isPreloaded: 0
  isOverridable: 0
  isExplicitlyReferenced: 0
  platformData: