fileFormatVersion: 2
guid: {{asset_guid}}
TextScriptImporter:
  externalObjects: {}
  userData: {{package_data_footer}}
  assetBundleName: {{package_bundle_name_footer}}
  assetBundleVariant: {{package_bundle_varient_footer}}